:root {
  font-family: Arial;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  color: white;
  --page-width: 60vw;
  --body-bg-color: #0f0f0f;
  --card-bg-color: #222;
  --text-color: rgb(68, 141, 68);
}

@font-face {
  src: url("../assets/fonts/ProductSans-Regular.ttf");
  font-family: "productsans";
  font-weight: normal;
  font-display: swap;
}

@font-face {
  src: url("../assets/fonts/Roboto-Medium.ttf");
  font-family: "Roboto-Medium";
  font-weight: normal;
  font-display: swap;
}

/* ----- Body ----- */
body {
  padding: 0;
  margin: 0;
  background-color: var(--body-bg-color);
  background-image: radial-gradient(var(--text-color), 1px, transparent 1px);
  background-size: 5vh 5vh;
}

main {
  display: grid;
  grid-template-columns: 100vw;
}

/* ----- Header ----- */
header {
  font-family: productsans;
  width: var(--page-width);
  margin: 5em auto 1em auto;
}

div.header-card {
  padding: 2em;
  border-radius: 100px;
  background-color: var(--card-bg-color);
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
  animation-name: enterFromTop;
  animation-duration: 1.5s;
}

@keyframes enterFromTop {
  0% {
    translate: 0px -300px;
  }
  100% {
    translate: 0px;
  }
}

header img {
  width: 100px;
  border-radius: 100%;
}

header h1 {
  margin: 0;
  font-size: 350%;
}

.header-name {
  color: var(--text-color);
}

/* ----- About/Project Container ----- */
div.main-content {
  width: var(--page-width);
  margin: auto;
  display: grid;
  grid-template-columns: 35% 65%;
  animation-name: enterFromBottom;
  animation-duration: 1.5s;
}

div.card {
  height: 50vh;
  border-radius: 32px;
  padding: 2em;
  background-color: var(--card-bg-color);
}

.left {
  animation-name: enterFromLeft;
  animation-duration: 1.5s;
}

.right {
  animation-name: enterFromBottom;
  animation-duration: 1.5s;
}

@keyframes enterFromLeft {
  0% {
    translate: -300px 0px 1px;
  }
  100% {
    translate: 0px 0px 0px;
  }
}

@keyframes enterFromBottom {
  0% {
    translate: 0px 300px;
  }
  100% {
    translate: 0px;
  }
}
